// Aplicación de sass desde cero - nuevo archivo 
// creando variables que se usaran en los partial y en el style principal
$primary-color: #ffffff;
$primary-font: Arial, Helvetica, sans-serif;

%style {
    text-align: center;
    color: $primary-color;
    font-size: 14px; 
}

body {
    margin: 0pt;
    font-family: $primary-font;
}

#header {
    background-color: #87509C;
    height: 594px;
}

// importando los archivos sass que estan en partial

@import 'partial/menuTop';
@import 'partial/logo';
@import 'partial/welcome';
@import 'partial/stylep';
@import 'partial/conte';
@import 'partial/none';

.clearfix::after {
    content: "";
    clear: both;
    display: table; }

@import 'partial/tittle';

// configuraciones generales 

#size {
    margin-left: 135px;
    margin-top: 75px; }
  
h4 {
    margin-top: 60px;
    text-align: center;
    color: $primary-color;
    text-transform: uppercase; }
  
.stylei {
    @extend %style; }
  
.imgen {
    align-content: center; }

@import 'partial/menulow';

  


