#content {
    background-color: #17C2A4;
    height: 71%; }
  
.styleone {
    padding: 0px;
    margin: 0px; }
  
.conte {
    float: left;
    width: 16%;
    height: 22%;
    margin-left: 60px;
    align-content: center; }