#content {
    background-color: #17C2A4;
    height: 747px; }
  
.styleone {
    padding: 0px;
    margin: 0px; }
  
.conte {
    float: left;
    width: 216px;
    height: 320px;
    margin-left: 60px;
    align-content: center; }