.menutop {
    float: left;
    font-size: 0.75em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: $primary-color;
    padding: 55px 0 0 0;
    margin: 0; }

.menutoplist { list-style: none;
    padding: 0; 

    li {
        float: left;
        margin-left: 7%; }
            
    li:first-child {
        margin-left: 0; }
}
