#footnote {
    background-color: #344B8E;
    height: 104px; }

.menulow {
    font-size: 1.125em;
    text-decoration: none;
    color: $primary-color;
    align-content: center; }
  
.menulowlist {
    list-style: none;
    padding-left: 19%;
    margin: 0; 
    
    li {
        padding-top: 40px;
        float: left;
        margin-left: 6%; }
      
    li:first-child {
        margin-left: 0; }
}
  