.tittle {
    padding-top: 120px; }
  
.tittle h2 {
    text-align: center;
    color: $primary-color;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0; }
  
.tittle p {
    text-align: center;
    color: $primary-color;
    font-size: 16px;
    margin-top: 48px; }