#welcome {
    padding-top: 232px;
    width: 924px;
    height: 224px;
    margin: 0 auto; }

#welcome button {
    font-size: 14px;
    font-weight: bold;
    color: $primary-color;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 29px;
    background-color: #EB7D4B;
    border-color: #C86A3F;
    position: absolute;
    margin-left: 385px; }