.stylei {
  text-align: center;
  color: #ffffff;
  font-size: 14px; }

body {
  margin: 0pt;
  font-family: Arial, Helvetica, sans-serif; }

#header {
  background-color: #87509C;
  height: 594px; }

.menutop {
  float: left;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  padding: 55px 0 0 0;
  margin: 0; }

.menutoplist {
  list-style: none;
  padding: 0; }
  .menutoplist li {
    float: left;
    margin-left: 44px; }
  .menutoplist li:first-child {
    margin-left: 0; }

#logo {
  float: left;
  margin: 0px;
  padding: 55px 480px 0px 210px; }

#welcome {
  padding-top: 232px;
  width: 924px;
  height: 224px;
  margin: 0 auto; }

#welcome button {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 29px;
  background-color: #EB7D4B;
  border-color: #C86A3F;
  position: absolute;
  margin-left: 385px; }

#stylep {
  text-align: center;
  position: relative; }
  #stylep p {
    color: #ffffff;
    font-size: 32px;
    font-weight: bold; }

#content {
  background-color: #17C2A4;
  height: 747px; }

.styleone {
  padding: 0px;
  margin: 0px; }

.conte {
  float: left;
  width: 216px;
  height: 320px;
  margin-left: 60px;
  align-content: center; }

#none {
  margin-left: 0px; }
  #none p {
    text-align: center;
    color: #ffffff;
    font-size: 14px; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.tittle {
  padding-top: 120px; }

.tittle h2 {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0; }

.tittle p {
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  margin-top: 48px; }

#size {
  margin-left: 135px;
  margin-top: 75px; }

h4 {
  margin-top: 60px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase; }

.imgen {
  align-content: center; }

#footnote {
  background-color: #344B8E;
  height: 102px; }

.menulow {
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  align-content: center; }

.menulowlist {
  list-style: none;
  padding-left: 250px;
  margin: 0; }
  .menulowlist li {
    padding-top: 40px;
    float: left;
    margin-left: 44px; }
  .menulowlist li:first-child {
    margin-left: 0; }

#styleA a {
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
  text-align: center;
  border-radius: 30px;
  background-color: #f19130;
  color: #ffffff; }

#styleA a:hover {
  color: #616161; }

.modal-conten {
  background-color: #787276;
  width: 300px;
  padding: 10px 20px;
  margin: 20% auto;
  position: relative; }
  .modal-conten a:hover {
    color: red; }
  .modal-conten h2 {
    font-size: 15px;
    color: white; }

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0s; }

#callModal:target {
  opacity: 1;
  pointer-events: auto; }
