body {
  margin: 0pt;
  font-family: Arial, Helvetica, sans-serif; }

#header {
  background-color: #87509C;
  height: 594px; }

.menutop {
  float: left;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  padding: 55px 0 0 0;
  margin: 0; }

.menutoplist {
  list-style: none;
  padding: 0; }
  .menutoplist li {
    float: left;
    margin-left: 44px; }
  .menutoplist li:first-child {
    margin-left: 0; }

#logo {
  float: left;
  margin: 0px;
  padding: 55px 480px 0px 210px; }

#welcome {
  padding-top: 232px;
  width: 924px;
  height: 224px;
  margin: 0 auto; }

#welcome button {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 29px;
  background-color: #EB7D4B;
  border-color: #C86A3F;
  position: absolute;
  margin-left: 385px; }
